body{
    background-image: url("bg-image.png");
}

.page-margin{
    margin-top: 10px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 177px;
}

/* .carousel-item img{
    border-radius: 50px;
    height: 500px;
    
} */

.header-margin{
    padding-top: 123px;

}


/* .card img{
    width: 300px;
    height: 300px;
    padding-top:5px;
    margin: 10%;
} */

footer{
    margin-top: 20px;;
}